/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffff00;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

.main {
    padding: 20px;
}

.buscador {
    text-align: center;
    margin-bottom: 20px;
}

.SeccionBusqueda {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ingresarbusqueda {
    padding: 10px;
    width: 70%;
    max-width: 500px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botonBuscar {
    padding: 10px 20px;
    border: none;
    background-color: #ffff00;
    color: black;
    cursor: pointer;
    border-radius: 4px;
}

.botonBuscar:hover {
    background-color: black;
    color: #fff;
}

.resultados h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.resultados ul {
    list-style: none;
    padding: 0;
}

.resultados li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.resultados li img {
    max-width: 100px;
    margin-right: 10px;
    border-radius: 4px;
}

.loading {
    text-align: center;
    font-size: 1.5em;
    color:  black;
}
.buscador .loading-icon {
    display: none;
    font-size: 1.5em;
    color:  black;
    margin-left: 10px;
}
/* Reset CSS para asegurar consistencia entre navegadores 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el cuerpo 
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo para el encabezado y la navegación 
header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para la sección principal 
.main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para la sección del buscador 
.buscador {
    text-align: center;
}

.SeccionBusqueda {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.BuscadorPeliculas {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ingresarbusqueda {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
}

.botonBuscar {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botonBuscar:hover {
    background-color: #0056b3;
}
*/